
img {
  width: 95px;
  margin-right: 10px;
}
.pick-up {
  position: absolute;
  width: 64%;
  height: 17%;
  top: 85%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.order-item {
  position: relative; /* This allows the quantity text to be positioned relative to the order-item */
  margin-right: 20px;
}

img {
  margin-left:10px;
  width: 85px;
  margin-right: 10px;
}

#quantity-text {
  margin-bottom: 10px;
  margin-left: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
  padding: 3px  5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #8e0103;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pick-up-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding-left: 30px;;
}


